[submodule "modules/dns"]
	path = modules/dns
	url = https://github.com/bennycornelissen/puppet-dns
[submodule "modules/rtorrent"]
	path = modules/rtorrent
	url = https://github.com/TheLQ/puppet-rtorrent-nginx
